// Typography
$font: 'zeitung-mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', Arial, sans-serif;
$font-bold: 'journal-ultra', $font;
$font-size: 24px;
$line-height: 1.5;

// Spacing
$gap: 6rem;

// Grid
$col-nr: 3;

// Colors
$c-title: hsl(0, 0%, 90%);
$c-text: hsl(0, 0%, 60%);
$c-bg: hsl(204, 12%, 13%);
$c-main: hsl(21, 16%, 88%);

// RWD Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 1199px;
$breakpoint-mobile: 860px;
$breakpoint-small: 480px;