// Typography
$font: 'lft-etica-mono', -apple-system, system-ui, sans-serif;
$font-size: 20px;
$line-height: 1.5;

// Spacing
$gap: 4rem;

// Grid
$col-nr: 3;

// Colors
$c-title: hsl(0, 0%, 90%);
$c-text: hsl(175, 7%, 6%);
$c-bg: hsl(175, 7%, 51%);
//$c-bg: hsl(167, 16%, 17%);
$c-main: hsl(175, 7%, 91%);
$c-sec: hsl(21, 100%, 63%);

// RWD Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 1199px;
$breakpoint-mobile: 860px;
$breakpoint-small: 480px;